.announce{
    &__modal{
        display: none;
        z-index: 1;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        overflow: hidden;
        &--active{
            display: block;
        }
        &-box{
            z-index: 5;
            margin: 200px auto 0;
            height: 289px;
            width: 476px;
            border-radius: 4px;
            background-color: white;
            padding: 50px;
        }
        &-title{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #39387B;
        }
        &-text{
            font-size: 14px;
            line-height: 22px;
            color: #3C4866;
            opacity: 0.6;
            margin: 10px 0 43px 0;
        }
        &-btn{
            width: 376px;
            // height: 46px;
            background: #3586FF;
            border: 1px solid rgba(53, 81, 153, 0.2);
            box-sizing: border-box;
            border-radius: 6px;
            padding: 12px 140px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
    &__intro{
        margin: 50px 0 40px 0;
        &-navlink{
            font-size: 16px;
            line-height: 24px;
            color: #355199;
        }
        &-title{
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #39387B;
            margin: 50px 0 6px 0;
        }
        &-text{
            font-size: 16px;
            line-height: 24px;
            color: #3C4866;
            opacity: 0.6;
        }
    }
    &__cards{
        padding: 50px 60px 20px 50px;
        background: #FFFFFF;
        box-shadow: 0px 54px 100px rgba(25, 26, 72, 0.12);
        border-radius: 4px;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 120px;
        }
        &-title{
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            color: #39387B;
            margin-bottom: 20px;
        }
    }
    &__criteria{
        // padding-right: 400px;
        &-buttons{
            width: 226px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid rgba(53, 81, 153, 0.15);
            border-radius: 7px;
        }
        &-btn{
            width: 111px;
            height: 48px;
            border: none;
            background-color: white;
            font-size: 16px;
            line-height: 22px;
            &--active{
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                background: #3586FF;
                border-radius: 6px;
            }
        }
    }
    &__post{
        &-buttons{
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            margin-top: 30px;
        }
        &-btn{
            width: 240px;
            height: 62px;
            padding: 20px 50px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            cursor: pointer;
            border-radius: 6px;
            &--white{
                background: #FFFFFF;
                border: 1px solid rgba(53, 81, 153, 0.6);
                color: #355199;
            }
            &--blue{
                background: #3586FF;
                border: 1px solid rgba(53, 81, 153, 0.2);
                color: #FFFFFF;
            }
        }
    }
    &__form{
        &-sides{
            display: flex;
            // flex-wrap: wrap;
            // width: 90%;
            align-items: center;
            justify-content: space-evenly;
        }
        &-menu{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            &--withpic{
                width: 50%;
            }
        }
        &-box{
            display: flex;
            flex-direction: column;
            margin:0 50px 40px 0;
            &--small{
                width: 226px;
                // max-width: 100%;
            }
            &--middle{
                width: 475px;
                // max-width: 100%;
            }
            &--big{
                width: 735px;
                max-width: 100%;
            }
        }
        &-label{
            font-size: 12px;
            line-height: 18px;
            color: #3C4866;
            opacity: 0.5;
            margin-bottom: 6px;
        }
        &-input{
            border: 1px solid rgba(53, 81, 153, 0.15);
            border-radius: 7px;
            padding: 15px;
            // padding-right: 50px;
            font-size: 16px;
            line-height: 22px;
            color: #3C4866;
            opacity: 0.8;
            z-index: 0;
            &::placeholder{
                opacity: 0.4;
            }
        }
        &-teaxtarea{
            // width: 735px;
            height: 356px;
        }
        &-option{
            background: #39387B;
            border-radius: 6px;
            padding: 40px;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            margin-bottom: 30px;
            &:disabled{
                color: grey;
                color: black;
            }
        }
        
    }
    
}

.pic{
    width: 298px;
    height: 60px;
    opacity: 0;
    position: absolute;
}
.picture{
    width: 40%;
    &__box{
        position: relative;
        width: 298px;
        height: 60px;
        padding: 15px 77px 15px 25px;
        background: #3586FF;
        border-radius: 10px 10px 0px 0px;
    }
    &__img{
        background-color: white;
        border-radius: 50%;
        border: none;
        width: 30px;
        height: 30px;
        padding: 10px;
        margin-right: 6px;
    }
    &__span{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
    &__bottom{
        width: 298px;
        background: #F4F4F4;
        border-radius: 10px;
        padding: 0 25px 35px 25px;
    }
    &__text{
        font-size: 16px;
        line-height: 28px;
        opacity: 0.6;
        margin: 15px 0 18px 0;
    }
    &__preview{
        width: 248px;
        height: 190px;
        max-width: 248px;
        max-height: 190px;
        // object-fit: contain;
    }
}
@media screen and (max-width:768px) {
    .announce{
        &__cards{
            width: 100%;
            padding: 50px 60px 20px 50px;
            box-shadow: 0px 54px 100px rgba(25, 26, 72, 0.12);
            border-radius: 4px;
            margin-bottom: 40px;
        }
        &__form{
            &-menu{
                justify-content: space-evenly;
                &--withpic{
                    width: 100%;
                }
            }
            &-sides{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
            }
        }
    }
}
@media screen and (max-width:640px) {
    .announce{
        &__post{
            &-buttons{
                width: 600px;
                max-width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 50px;
                margin-top: 30px;
            }
            &-btn{
                width: 600px;
                max-width: 90%;
                margin-bottom: 15px;
            }
    }
}}