.announce{
    &__intro{
        margin: 50px 0 40px 0;
        &-navlink{
            font-size: 16px;
            line-height: 24px;
            color: #355199;
        }
        &-title{
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #39387B;
            margin: 50px 0 6px 0;
        }
        &-text{
            font-size: 16px;
            line-height: 24px;
            color: #3C4866;
            opacity: 0.6;
        }
    }
    &__cards{
        padding: 50px 60px 20px 50px;
        background: #FFFFFF;
        box-shadow: 0px 54px 100px rgba(25, 26, 72, 0.12);
        border-radius: 4px;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 120px;
        }
        &-title{
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            color: #39387B;
            margin-bottom: 20px;
        }
    }
    &__criteria{
        padding-right: 400px;
        &-buttons{
            width: 226px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid rgba(53, 81, 153, 0.15);
            border-radius: 7px;
        }
        &-btn{
            width: 111px;
            height: 48px;
            border: none;
            background-color: white;
            font-size: 16px;
            line-height: 22px;
            &--active{
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                background: #3586FF;
                border-radius: 6px;
            }
        }
    }
    &__post{
        &-buttons{
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        &-btn{
            width: 240px;
            height: 62px;
            padding: 20px 50px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            cursor: pointer;
            border-radius: 6px;
            &--white{
                background: #FFFFFF;
                border: 1px solid rgba(53, 81, 153, 0.6);
                color: #355199;
            }
            &--blue{
                background: #3586FF;
                border: 1px solid rgba(53, 81, 153, 0.2);
                color: #FFFFFF;
            }
        }
    }
    &__form{
        &-sides{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-menu{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &-box{
            display: flex;
            flex-direction: column;
            margin:0 50px 40px 0;
            &--small{
                width: 226px;
            }
            &--middle{
                width: 475px;
            }
            &--big{
                width: 735px;
            }
        }
        &-label{
            font-size: 12px;
            line-height: 18px;
            color: #3C4866;
            opacity: 0.5;
            margin-bottom: 6px;
        }
        &-input{
            border: 1px solid rgba(53, 81, 153, 0.15);
            border-radius: 7px;
            padding: 15px;
            font-size: 16px;
            line-height: 22px;
            color: #3C4866;
            opacity: 0.8;
            &::placeholder{
                opacity: 0.4;
            }
        }
        &-option{
            background: #39387B;
            border-radius: 6px;
            padding: 40px;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            margin-bottom: 30px;
            &:disabled{
                color: grey;
                color: black;
            }
        }
    }
}