.announce{
    &__modal{
        display: none;
        z-index: 1;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        overflow: hidden;
        &--active{
            display: block;
        }
        &-box{
            z-index: 5;
            margin: 200px auto 0;
            height: 289px;
            width: 476px;
            border-radius: 4px;
            background-color: white;
            padding: 50px;
        }
        &-title{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #39387B;
        }
        &-text{
            font-size: 14px;
            line-height: 22px;
            color: #3C4866;
            opacity: 0.6;
            margin: 10px 0 43px 0;
        }
        &-btn{
            width: 376px;
            // height: 46px;
            background: #3586FF;
            border: 1px solid rgba(53, 81, 153, 0.2);
            box-sizing: border-box;
            border-radius: 6px;
            padding: 12px 140px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
    &__intro{
        margin: 50px 0 40px 0;
        &-navlink{
            font-size: 16px;
            line-height: 24px;
            color: #355199;
        }
        &-title{
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #39387B;
            margin: 50px 0 6px 0;
        }
        &-text{
            font-size: 16px;
            line-height: 24px;
            color: #3C4866;
            opacity: 0.6;
        }
    }
    &__cards{
        padding: 50px 60px 20px 50px;
        background: #FFFFFF;
        box-shadow: 0px 54px 100px rgba(25, 26, 72, 0.12);
        border-radius: 4px;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 120px;
        }
        &-title{
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            color: #39387B;
            margin-bottom: 20px;
        }
    }
    &__criteria{
        padding-right: 400px;
        &-buttons{
            width: 226px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid rgba(53, 81, 153, 0.15);
            border-radius: 7px;
        }
        &-btn{
            width: 111px;
            height: 48px;
            border: none;
            background-color: white;
            font-size: 16px;
            line-height: 22px;
            &--active{
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                background: #3586FF;
                border-radius: 6px;
            }
        }
    }
    &__post{
        &-buttons{
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        &-btn{
            width: 240px;
            height: 62px;
            padding: 20px 50px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            cursor: pointer;
            border-radius: 6px;
            &--white{
                background: #FFFFFF;
                border: 1px solid rgba(53, 81, 153, 0.6);
                color: #355199;
            }
            &--blue{
                background: #3586FF;
                border: 1px solid rgba(53, 81, 153, 0.2);
                color: #FFFFFF;
            }
        }
    }
    &__form{
        &-sides{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-menu{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &-box{
            display: flex;
            flex-direction: column;
            margin:0 50px 40px 0;
            &--small{
                width: 226px;
            }
            &--middle{
                width: 475px;
            }
            &--big{
                width: 735px;
            }
        }
        &-label{
            font-size: 12px;
            line-height: 18px;
            color: #3C4866;
            opacity: 0.5;
            margin-bottom: 6px;
        }
        &-input{
            border: 1px solid rgba(53, 81, 153, 0.15);
            border-radius: 7px;
            padding: 15px;
            font-size: 16px;
            line-height: 22px;
            color: #3C4866;
            opacity: 0.8;
            z-index: 0;
            &::placeholder{
                opacity: 0.4;
            }
        }
        &-teaxtarea{
            // width: 735px;
            height: 356px;
        }
        &-option{
            background: #39387B;
            border-radius: 6px;
            padding: 40px;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            margin-bottom: 30px;
            &:disabled{
                color: grey;
                color: black;
            }
        }
    }
    
}
.announce__form-input{
    border: 1px solid rgba(53, 81, 153, 0.15);
            border-radius: 7px;
            padding: 15px;
            font-size: 16px;
            line-height: 22px;
            color: #3C4866;
            opacity: 0.8;
            z-index: 0;
            &::placeholder{
                opacity: 0.4;
            }
}
.page {
    height: 100vh;
    background-color: #512da8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mycontainer {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
  }
  .img-holder {
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px black solid;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  #input[type="file"] {
    display: none;
  }
  .label {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload {
    margin: auto;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    cursor: pointer;
  }