// @import "react-share-button/dist/ShareBtn";
.single{
    &__link{
        margin: 50px 0 40px 0;
    }
    &__wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 150px;
    }
    &__timebox{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    &__times{
        display: flex;
        align-items: center;
        margin-right: 20px;
        &-img{
            margin-right: 8px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__left{
        width: 407px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        border-radius: 10px;
        padding: 30px;
        &-title{
            width: 377px;
            max-width: 100%;
            font-weight: 800;
            font-size: 28px;
            line-height: 44px;
            color: #39387B;
        }
        &-author{
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-transform: uppercase;
            color: #39387B;
            margin: 20px 0 10px 0;
        }
        &-profession{
            opacity: 0.4;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #39387B;
            padding: 3px 11px;
            background: rgba(57, 56, 123, 0.1);
            border: 1px solid #39387B;
            box-sizing: border-box;
            border-radius: 60px;
            
        }
    }
    &__center{
        width: 625px;
        &-title{
            width: 490px;
            font-weight: 800;
            font-size: 36px;
            line-height: 50px;
            color: #39387B;
        }
        &-description{
            font-size: 18px;
            line-height: 24px;
            color: #3C4866;
            opacity: 0.7;
            margin: 20px 0 30px 0;
        }
        &-img{
            max-width: 625px;
            width: 100%;
        }
        &-theme{
            font-weight: 500;
            font-size: 22px;
            line-height: 24px;
            color: #3C4866;
            margin: 40px 0 20px 0;
        }
        &-text{
            font-size: 18px;
            line-height: 30px;
            color: #3C4866;
            opacity: 0.8;
        }
    }
    &__right{
        width: 132px;
        background: #F4F4F4;
        border-radius: 7px;
        padding: 15px 20px;
        font-size: 14px;
        line-height: 22px;
        opacity: 0.8;
    }
}