@mixin button{
    padding: 15px 23px;
    background-color: #FF7D35;
    border-radius: 60px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
@mixin buttonLight {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba($color: #fff, $alpha: .6);    
    cursor: pointer;
    &:hover{
        color: rgba($color: #fff, $alpha: .8);
        transition: .1s;
    }
    
}