.header{
    background-color: #355199;
    padding: 26px 0;
    &__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-item{
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}