@import '../../ScssTemplates/templates.scss';

.header{
    position: relative;
    font-style: normal;
    z-index: 1;
    color: #3C4866;
    height: 100px;
    padding: 30px 0;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        font-weight: 800;
        font-size: 24px;
        line-height: 40px;
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-right: 40px;
      
            
        
        
    }
}

.add{
    color: #fff;
    
    box-shadow:  0 0 10px #FF7D35;
    @include button;
    &:hover{
    animation-name: btn;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    }
    &:active{
        color: #fff !important;
    }

}
.active{
   color: #FF7D35;
}
.link{
    color: #3C4866;
    &-page:hover{
        color: rgba($color: #3C4866, $alpha: .7);
    }
    &:active{
        color:#3C4866 ;
    }
}
@keyframes btn{
    0%{
        box-shadow:  0 0 10px #FF7D35;
    }
    50%{
        box-shadow:  0 0 0 #FF7D35;
    }
    100%{
        box-shadow:  0 0 10px #FF7D35;
    }
}