.footer{
    background-color: #355199;
    padding: 40px 0;
    &__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__navlink{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__social{
        display: flex;
        flex-direction: row;
        align-items: center;
        &-icon{
                width: 26px;
                height: 26px;
            }
    }
}