/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./Assets/fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./Assets/fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Assets/fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./Assets/fonts/poppins-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./Assets/fonts/poppins-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Assets/fonts/poppins-v19-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./Assets/fonts/poppins-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./Assets/fonts/poppins-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Assets/fonts/poppins-v19-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./Assets/fonts/poppins-v19-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./Assets/fonts/poppins-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/fonts/poppins-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./Assets/fonts/poppins-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Assets/fonts/poppins-v19-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins' ;

}

body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}
.App{
  min-height: 73vh;
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


}
.container{
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #355199;
  ;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba($color: #FFF, $alpha: .5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #FFF, $alpha: .6);
}

//designing the App itself;



@media screen and (max-width:744px) {
  .container{
    width: 684px;
    padding: 0 30px;
  }
  
  
}
@media screen and (max-width:425px) {
  .container{
    width: 385px;
    padding: 0 20px;
  }
  
  
}